    /* VARS */ 
:root {
    --blue: #0065ff;
}
    /* MY PRESET */ 
html, body{margin: 0;padding: 0;font-size: 17px; cursor: default; color: #fff;} 
ul{list-style: none; margin: 0; padding: 0;} 
a{text-decoration: none; display: block;}
h1, h2, h3, h4 {text-transform: uppercase;}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: gray;
}
.flexbox{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.wrap {
    width: 41rem;
	min-width: 800px;
	margin: 0 auto;  
}
.animate{
    -webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
a {
    color: ;
}
    /* GENERAL */
#education {
    height: 100vh;
    overflow: hidden
}
.border-box, .box, .box:after{
    border-radius: 50%;
    margin: 0 auto;
    
}
.border-box{
    background: linear-gradient(15deg, #f5003d, #f500d8, #1a4bff);
    animation: loop infinite both 1s; 
    position: relative;
    height: 10rem; width: 10rem;
}
.box {
    z-index: 5;
    top: 4px; right: 0; left: 15px; bottom: 0;
    position: absolute;
    border-radius: 50%;
    height: 9.5rem; width: 9rem;
    background: gray;
    box-sizing: border-box;
}
@keyframes loop{
    0%{
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(360deg);
    }
}